
.question-form {

    .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .ant-flex.css-dev-only-do-not-override-zl9ks2.ant-flex-wrap-wrap.ant-flex-gap-small {
        justify-content: center;
    }

    .question {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        .options {
            height: 25%;
        }

        .ant-upload-wrapper {
            max-width: 200px;
        }
    }
    .answer {
        justify-content: left;
        display: flex;
        margin-left: 160px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        position: relative;
        flex-wrap: wrap;

        input {
            flex-basis: 800px;
            margin-right: 10px;
        }
        button {
            border: none;
            font-size: 40%;
        }

        .delete-item {
            position: absolute;
            right: 10%;
        }

        .hint {
            flex-basis: 700px;
            margin-top: 16px;
            margin-bottom: 16px;

            &.no_ans {
                margin-left: 60px;
            }
        }
    }
}