

.navbar {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.2);

    .logo {
        flex-basis: 50%;
        max-width: 120px;
        height: 40px;
        cursor: pointer;
        margin-top: 18px;
        margin-left: 24px;
    }

    .navbar-collapse {
        flex-basis: 300px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
}