.low {
    .ck-editor__editable {
        min-height: 300px;
    }
}

.medium {
    .ck-editor__editable {
        min-height: 600px;
    }
}


.tall {
    .ck-editor__editable {
        min-height: 900px;
    }
}

.very-low {
    width: 700px;
    .ck-editor__editable {
        min-height: 100px;
    }
}