

.library {
    display: flex;
    flex-wrap: nowrap;

    .ant-checkbox-wrapper {
        width: 100%;
        margin-bottom: 8px;
        margin-left: 12px;
    }


    .anticon.anticon-right.ant-collapse-arrow {
        font-size: 90%;
    }

    .ant-collapse-header-text {
        font-size: 120%;
    }

    .left {
        flex-basis: 25%;
    }


    .right {
        flex-basis: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        .paging {
            text-align: center;
            margin-top: 20px;
            flex-basis: 100%;
        }
        .library-item {
            flex-basis: 30%;
            color: black;
            cursor: pointer;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
            margin: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: 5%;


            &:hover {
                background-color: #f1f7fe;
            }

            .item-image {
                max-width: 200px;
                max-height: 100px;
                width: auto;
                margin-top: 12px;
                margin-bottom: 12px;
            }

            .item-detail {
                margin-left: 16px;
                margin-top: 40px;
                flex-basis: 75%;

                h2 {
                    font-size: 18px;
                    margin: 0px 0px;
                    white-space: normal;
                    overflow-wrap: break-word;
                    letter-spacing: 1.5 px
                }

                p {
                    font-size: 12px;
                    margin: 8px 0px;
                    font-style: italic;
                }
            }
            .ant-comment.css-dev-only-do-not-override-zl9ks2 {
                background-color: rgb(243 244 246/0.6);;
            }
            .ant-comment-inner {
                border-radius: 10%;
                cursor: pointer;
                padding: 4px;
                margin: 12px;


                .ant-comment-content-author-name {
                    margin-top: 8px;
                }

                &:hover {
                    background-color: #edeff4;
                }

                .ant-comment-avatar { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

        }
        
    }
}