
.question.multi-choice {
    display: flex;
    flex-wrap: wrap;
    span {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .answer {
        flex-basis: 90%;
        margin-top: 12px;
    }

    padding-bottom: 16px;


    .question-list .item {
        color: black;
    }

    .content {
        margin-top: 16px;
        figure {
            margin: 0px;
        }
        img {
            max-width: 1200px;
        }
    }
}

.question.multi-choice-group {
    margin-bottom: 40px;
    .index {
        margin-top: 12px;
        margin-bottom: 12px;
        display: flex;
        flex-wrap: nowrap;

        p {
            margin: 4px;
            font-size: 16px;
        }
    }

    .content {
        margin-top: 16px;
        figure {
            margin: 0px;
        }
        img {
            max-width: 1200px;
            max-height: 600px;
        }
    }
}