
.question.multi-choice {
    display: flex;
    flex-wrap: wrap;
    span {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .answer {
        flex-basis: 90%;
        margin-top: 12px;
    }

    padding-bottom: 16px;


    .question-list .item {
        color: black;
    }

    .content {
        margin-top: 16px;
        figure {
            margin: 0px;
        }
        img {
            max-width: 800px;
        }
    }
}